.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.list:hover {
	background: #E5E5E5;
}

.list:hover .list-upvotes {
	font-weight: bolder;
}

.list-description {
	flex: 1 0 auto;
	padding: 20px;
}

.list-description h3 {
	margin: 0;
}

.list-description p {
	margin: 0;
}

.list-upvotes {
	font-size: 18px;
    text-align: center;
    padding: 16px;
}

.list-controls a {
	color: #F2F2F2;
	font-size: 20px;
}

.list-controls a:hover {
	color: #24292E;
	font-size: 20px;
}